body {
  background-color: #000;
  overflow: hidden;
}


#top {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right: 0;
  perspective-origin: 50% 50%;
  perspective: 200px;
}

@keyframes slidein {
  0% {
    transform: rotateX(10deg) translate3d(-50vh,0vh,0);
  }
  25% {
    transform:  rotateX(10deg) translate3d(-50vh,-200vh,0);
  }
  50% {
    transform:  rotateX(10deg) translate3d(-0vh,-200vh,0);
  }
  75% {
    transform:  rotateX(10deg) translate3d(0vh,-10vh,0);
  }

  100% {
    transform: rotateX(10deg) translate3d(-50vh,0vh,0);
  }
}


@keyframes drive {
  0% {
    transform: translate3d(0,0,10px) rotateZ(0deg) ;
  }
  20% {
    transform: translate3d(360px,0,10px) rotateZ(0deg) ;
  }
  25% {
    transform: translate3d(400px,40px,10px) rotateZ(90deg) ;
  }
  45% {
    transform: translate3d(400px,360px,10px) rotateZ(90deg) ;
  }
  50% {
    transform: translate3d(360px,400px,10px) rotateZ(180deg) ;
  }
  70% {
    transform: translate3d(40px,400px,10px) rotateZ(180deg) ;
  }
  75% {
    transform: translate3d(0px,360px,10px) rotateZ(270deg) ;
  }
  95% {
    transform: translate3d(0px,40px,10px) rotateZ(270deg) ;
  }
  99.9% {
    transform: translate3d(0px,0px,0px) rotateZ(359deg) ;
  }

}


#main {
  position: absolute;
  left:0;
  top:0;
  height: 300vh;
  width: 300vh;
  background-image: url('./DemoBoard.png');
  background-size: 100% 100%;
  transform-origin: 50% 50%;
  animation: slidein 120s linear infinite;
  transform-style:preserve-3d;
}

#bike {
  position: absolute;
  left: 450px;
  top: 250px;
  height: 40px;
  width: 80px;
  background-color: rgba(128,128,0,.5);
  transform-style:preserve-3d;
  transform: translate3d(0,0,20px);
  animation: drive 20s linear infinite;

}

#bike .w1 {
  position: absolute;
  transform-origin: 50% 50%;
  width:50%;
  height: 100%;
  background-color: rgba(192,192,0,.8);
  transform: translate3d(0,40%,0px)  rotateX(-65deg);
  border-radius: 50%;
  border: solid 2px #FF0;
}

#bike .w2 {
  transform-origin: 50% 50%;
  position: absolute;
  width:50%;
  height: 100%;
  background-color: #FF0;
  transform: translate3d(0,-40%,0px)  rotateX(65deg);
  border-radius: 50%;
}


#bike .w3 {
  transform-origin: 50% 50%;
  position: absolute;
  width:30%;
  height: 60%;
  background-color: #FF0;
  transform: translate3d(200%,35%,-10px)  rotateX(90deg);
  border-radius: 50%;
}
